.logo-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    width: auto;
    height: 350px;
    min-width: 350px;
}
  
.logo {
    max-width: 100%;
    height: auto;
}

.logo-card {
    border-radius: 50px;
  }